* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.header__logo {
  width: 100%;
  height: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ffffff;
}

.header__logo--image {
  width: 201px;
  height: 52px;
}

.viewfinder {
  background-image: url("/images/fruit-13.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 475px;
}

.viewfinder__photo {
  background-image: url("/images/fruittis.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 240px;
  height: 200px;
}

.viewfinder__card {
  position: relative;
  background-color: #ffffff;
  height: 367px;
}

.viewfinder__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.viewfinder__card-title-titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.viewfinder__card-title-rectangule {
  height: 42px;
  width: 5px;
  margin: 20px 15px 0 0;
}

.viewfinder__card-title-name {
  padding: 20px 14px 5px 0;
  font-size: 18px;
  line-height: 20px;
}

.viewfinder__card-title-job {
  padding: 0 14px 5px 0;
  font-size: 18px;
  line-height: 20px;
}

.viewfinder__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 10px 0 10px 10px;
}

.viewfinder__icons-box {
  margin-left: 10px;
  border-radius: 22px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.viewfinder__tags {
  font-family: "Open Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 20px;
}

.viewfinder__tags-text {
  width: 36px;
  height: 18px;
  font-size: 13px;
  border-radius: 4px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 5px;
}

.viewfinder__button {
  position: absolute;
  top: -40px;
  left: 0;
  width: 80px;
  height: 30px;
}

.viewfinder__button-reset {
  background-color: #bfcdd0;
  border-radius: 15px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #54585a;
  padding: 5px 10px;
}

.viewfinder__button-icono {
  margin-right: 5px;
  width: 11px;
  height: 20px;
}

.viewfinder.viewfinder--blue .viewfinder__card-title-rectangule {
  background-color: #a2deaf;
}

.viewfinder.viewfinder--blue .viewfinder__card-title-name {
  color: #114e4e;
}

.viewfinder.viewfinder--blue .viewfinder__card-title-job {
  color: #54585a;
}

.viewfinder.viewfinder--blue .viewfinder__icons-box {
  border: 2px solid #a2deaf;
  color: #114e4e;
}

.viewfinder.viewfinder--blue .viewfinder__icons--links {
  color: #114e4e;
}

.viewfinder.viewfinder--blue .viewfinder__tags-text {
  background-color: #438792;
  color: #ffffff;
}

.viewfinder.viewfinder--red .viewfinder__card-title-rectangule {
  background-color: #e95626;
}

.viewfinder.viewfinder--red .viewfinder__card-title-name {
  color: #420101;
}

.viewfinder.viewfinder--red .viewfinder__card-title-job {
  color: #54585a;
}

.viewfinder.viewfinder--red .viewfinder__icons-box {
  border: 2px solid #e95626;
  color: #420101;
}

.viewfinder.viewfinder--red .viewfinder__icons--links {
  color: #420101;
}

.viewfinder.viewfinder--red .viewfinder__tags-text {
  background-color: #bd1010;
  color: #ffffff;
}

.viewfinder.viewfinder--grey .viewfinder__card-title-rectangule {
  background-color: #a0c0cf;
}

.viewfinder.viewfinder--grey .viewfinder__card-title-name {
  color: #3e5b65;
}

.viewfinder.viewfinder--grey .viewfinder__card-title-job {
  color: #54585a;
}

.viewfinder.viewfinder--grey .viewfinder__icons-box {
  border: 2px solid #a0c0cf;
  color: #3e5b65;
}

.viewfinder.viewfinder--grey .viewfinder__icons--links {
  color: #3e5b65;
}

.viewfinder.viewfinder--grey .viewfinder__tags-text {
  background-color: #dfe5eb;
  color: #ffffff;
}

.collapsible__content {
  display: none;
}

.collapsible--visible .collapsible__content {
  display: block;
}

.collapsible--visible .arrow {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-right: 0;
  margin-left: auto;
}

.main {
  background: #f5f5f5;
}

.main__header {
  width: 250px;
  margin: 0 auto 0 auto;
  padding-top: 94px;
}

.main__header--logo {
  background-image: url("../images/logo-awesome-profile-cards.png");
  width: 250px;
  height: 64px;
}

.main__intro .main__title {
  text-align: center;
  font-size: 19px;
  color: #e17334;
  font-family: "Merriweather", serif;
  font-weight: 900;
  margin: 35.4px auto 4px auto;
}

.main__intro .main__paragraph {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12.8px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  color: #114e4e;
  width: 265px;
}

.main__intro .main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgba(255, 115, 52, 0.21);
  width: 268px;
  height: 74px;
  margin: 10px auto;
  border-radius: 4px;
}

.main__intro .main__list-item {
  font-family: "OpenSans-Regular", sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  text-align: center;
  color: #e17334;
}

.main__intro .main__list .main__list--text {
  color: #54585a;
  font-size: 16px;
  padding-top: 10px;
}

.main__intro .main__list .icon {
  color: #e17334;
  font-size: 28px;
}

.main__intro .main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 0;
}

.main__intro .main__button--start {
  font-size: 16px;
  font-family: "OpenSans-Regular", sans-serif;
  width: 129px;
  height: 42px;
  background-color: #438792;
  background-color: #438792;
  border: none;
  border-radius: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  height: 110px;
}

.footer__copyright {
  font-family: "Open Sans";
  font-size: 14px;
  color: #d8d8d8;
  margin-top: 20px;
}

.footer__logo {
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer__logo--image {
  width: 103px;
  height: 40px;
}

.fa-angle-up {
  color: #54585a;
}

.dropdown__desing {
  padding: 30px 20px 31px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dropdown__desing--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown__desing--name .dropdown__desing--nameText {
  padding-left: 10px;
  color: #54585a;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: uppercase;
}

.dropdown__desing--name .dropdown__desing--nameIcon {
  color: #e17334;
}

.dropdown__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dropdown__colors .dropdown__colors--selectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dropdown__colors .dropdown__colors--selectors .colors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown__colors .dropdown__colors--selectors .colors {
  width: 30px;
  height: 25px;
}

.dropdown__colors .dropdown__colors--selectors .colors__darkCyan {
  background-color: #114e4e;
}

.dropdown__colors .dropdown__colors--selectors .colors__dirtyblue {
  background-color: #438792;
}

.dropdown__colors .dropdown__colors--selectors .colors__hospitalGreen {
  background-color: #a2deaf;
}

.dropdown__colors .dropdown__colors--selectors .colors__darkRed {
  background-color: #420101;
}

.dropdown__colors .dropdown__colors--selectors .colors__strongRed {
  background-color: #bd1010;
}

.dropdown__colors .dropdown__colors--selectors .colors__brightRed {
  background-color: #e95626;
}

.dropdown__colors .dropdown__colors--selectors .colors__darkBlue {
  background-color: #3e5b65;
}

.dropdown__colors .dropdown__colors--selectors .colors__lightBlue {
  background-color: #dfe5eb;
}

.dropdown__colors .dropdown__colors--selectors .colors__brightBlue {
  background-color: #a0c0cf;
}

.dropdown__colors .dropdown__colorsgroups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  padding-right: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown__colors .dropdown__colorsgroups:last-child {
  padding-bottom: 32px;
}

.radio {
  margin-right: 10px;
}

.dropdown__title {
  padding-left: 39px;
  color: #54585a;
  text-transform: uppercase;
  font-family: "OpenSans-Regular", sans-serif;
}

.dropdown__title h3 {
  font-size: 14px;
  font-weight: 400;
}

.dropdown__fonts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dropdown__fonts--selectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 132px;
}

.dropdown__fonts--selectors .dropdown__fontsgroups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 9px;
}

.dropdown__fonts--selectors .dropdown__fontsgroups:last-child {
  padding-bottom: 30px;
}

.dropdown__fonts--selectors .fonts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #54585a;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.comic {
  font-family: "Comic Sans MS", "Comic Sans", "TSCu_Comic";
}

.montserrat {
  font-family: "Merriweather", serif;
}

.border {
  border-bottom: 0.5px solid #d8d8d8;
  margin-left: 20px;
  margin-right: 20px;
}

.dropdown__fill {
  margin: 10px 20px 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dropdown__fill--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown__fill--name .dropdown__fill--nameText {
  margin-left: 10px;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: uppercase;
  color: #54585a;
}

.dropdown__fill--name .dropdown__fill--nameIcon {
  color: #e17334;
}

.fill_form--container {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.fill__form--labelinput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fill__label--items {
  margin-bottom: 5px;
  font-family: "Open Sans";
  font-weight: 400;
  color: #114e4e;
  font-size: 14px;
}

.fill__input--items {
  margin-bottom: 20px;
  line-height: 30px;
  border: solid 1px #a2deaf;
  padding-left: 9px;
  font-size: 14px;
}

.fill__input--buttonandminiimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 20px;
}

.fill__input--buttonandminiimg .fill__input--addimgbutton {
  background-color: #e17334;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  width: 140px;
  height: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.fill__input--buttonandminiimg .fill__input--miniimg {
  height: 30px;
  width: 30px;
  border: solid 1px #a2deaf;
  margin-left: 20px;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fill__form--abilitieslabelinput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
}

.fill__ability {
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.abilitiesbutton {
  border: 1px solid #e17334;
  border-radius: 45px;
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.abilitiesbutton .fa-plus {
  color: #e17334;
}

.abilitiesbutton .fa-minus {
  color: #e17334;
}

.fill__ability--jshidden {
  display: none;
}

.action__hiddenField {
  display: none;
}

.skill__hidden--incard {
  display: none;
}

.loader {
  color: #e17334;
  font-size: 40px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 25px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

.shares__input--buttonandminiimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 0 30px;
}

.shares__input--buttonandminiimg .shares__input--addimgbutton {
  background-color: #e17334;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  width: 199px;
  height: 50px;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  text-transform: uppercase;
}

.bookmark2 {
  border: 0.5px solid #d8d8d8;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.shares {
  text-align: center;
}

.shares__text {
  font-family: "Open Sans";
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 20px;
}

.shares__url {
  font-size: 12px;
  color: #e17334;
  font-family: "OpenSans-Regular", sans-serif;
}

.shares__twitter {
  background-color: #00a0f5;
  width: 181px;
  height: 30px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 3px;
  text-decoration: none;
}

.shares__twitter-logo {
  color: #ffffff;
  font-size: 18px;
}

.shares__twitter-text {
  color: #ffffff;
  font-size: 14px;
  font-family: "OpenSans-Regular", sans-serif;
}

@media all and (min-width: 768px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 40px;
  }

  .main__2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main__card {
    padding: 20px 40px 21px 0;
    grid-column: 2;
  }

  .main__form {
    grid-column-start: 1;
    grid-row: 1;
  }

  .viewfinder {
    height: 100vh;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .main__header {
    width: 419px;
    padding-top: 50px;
  }

  .main__header--logo {
    background-image: url("../images/logo-awesome-profile-cards-tablet.png");
    width: 419px;
    height: 107px;
  }

  .main__intro .main__title {
    font-size: 24px;
    margin: 31px auto 4px auto;
  }

  .main__intro .main__paragraph {
    font-size: 16px;
    margin: 4px auto;
    width: 278px;
  }

  .main__intro .main__list {
    border: 1px solid rgba(255, 115, 52, 0.21);
    width: 325px;
    height: 86px;
    margin: 21px auto;
  }

  .main__intro .main__list-item {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    text-align: center;
  }

  .main__intro .main__button {
    padding: 100px 0 59px;
  }

  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 60px;
  }

  .footer__copyright {
    margin-left: 40px;
  }

  .footer__logo {
    margin-right: 40px;
  }
}

@-webkit-keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
