@import 'core/variables';
@import 'core/base';
@import 'layout/header';
@import 'layout/qualities';
@import 'layout/card';
@import 'layout/colapsable';
@import 'pages/principal';
@import 'layout/footer';
@import 'layout/design';
@import 'layout/fill';
@import 'layout/share';
