$color_white: #ffffff;
$color_black: #000000;
$color_very_dark_cyan: #114e4e;
$color_dirty_bluw: #438792;
$color_hospital_green: #a2deaf;
$color_light_khaki: #f9f4dc;
$color_dull_orange: #e17334;


$background_header: $color_white;
