$colorWhite: #ffffff;
$colorBlack: #000000;
$colorVeryDarkCyan: #114e4e;
$colorDirtyBluw: #438792;
$colorHospitalGreen: #a2deaf;
$colorLightKhaki: #f9f4dc;
$colorDullOrange: #e17334;
$colorGreySmoke: #54585a;
$colorBrownishGrey: #d8d8d8;
$colorDegradadoAzul:#bfcdd0;
$colorDegradadoAzulFin:#dde9ed;
$colorgren:#114e4e;
$backgroundHeader: $colorWhite;
$copyFooterTextColor: $colorBrownishGrey;
$colorTextTagsCard:$colorWhite;
$colorTextButtonReset:$colorGreySmoke;
$colorBackgroundReset:$colorDegradadoAzul;
$colorBackgroundRectangule:$colorHospitalGreen;
$colorTextTitleName:$colorgren;
$colorTextTitleJob:$colorGreySmoke;
$colorBorderIcons:$colorHospitalGreen;
$colorBackgroundIcons:$colorVeryDarkCyan;
$colorBackgroundTags:$colorDirtyBluw;
