$colorWhite: #ffffff;
$colorBlack: #000000;
$colorVeryDarkCyan: #114e4e;
$colorDirtyBlue: #438792;
$colorHospitalGreen: #a2deaf;
$colorLightKhaki: #f9f4dc;
$colorDullOrange: #e17334;
$colorGreySmoke: #54585a;
$colorBrownishGrey: #d8d8d8;
$colorDegradadoAzul:#bfcdd0;
$colorDegradadoAzulFin:#dde9ed;
$colorgren:#114e4e;
$colorVeryDarkRed: #420101;
$colorStrongRed: #bd1010;
$colorBrightRed: #e95626;
$colorVeryDarkDesaturatedBlue: #3e5b65;
$colorLightGrayishBlue: #dfe5eb;
$colorGrayishBlue:#a0c0cf;
$colorGunMetal: #54585a;
$darkGreenBlue: #114e4e;
$backgroundHeader: $colorWhite;
$copyFooterTextColor: $colorBrownishGrey;
$colorTextTagsCard:$colorWhite;
$colorMainParagraph:$colorVeryDarkCyan;
$colorMainList:$colorDullOrange;
$colorMainTitle:$colorDullOrange;
$colorTextButtonReset:$colorGreySmoke;
$colorBackgroundReset:$colorDegradadoAzul;
$colorBackgroundRectangule:$colorHospitalGreen;
$colorTextTitleName:$colorgren;
$colorTextTitleJob:$colorGreySmoke;
$colorBorderIcons:$colorHospitalGreen;
$colorBackgroundIcons:$colorVeryDarkCyan;
$colorBackgroundTags:$colorDirtyBlue;
$colorSelectorGreenOne: $colorVeryDarkCyan;
$colorSelectorGreenTwo: $colorDirtyBlue;
$colorSelectorGreenThree: $colorHospitalGreen;
$colorSelectorRedOne: $colorVeryDarkRed;
$colorSelectorRedTwo: $colorStrongRed;
$colorSelectorRedThree: $colorBrightRed;
$colorSelectorGreyOne: $colorVeryDarkDesaturatedBlue;
$colorSelectorGreyTwo: $colorLightGrayishBlue;
$colorSelectorGreyThree: $colorGrayishBlue;
$colorDropdownH3: $colorGunMetal;
$colorSelectorFonts: $colorGunMetal;
$colorDesignFillShareIcons: $colorDullOrange;
$colorHrBookmarks: $colorBrownishGrey;
$colorFillLabelText: $darkGreenBlue;
$colorFillInputBorder: $colorHospitalGreen;
