.main{
  background: #f5f5f5;
}
// esto es lo que he modificado de color, hy que añadir variable

.main__header {
  width: 250px;
  margin: 0px auto 0 auto;
  padding-top: 94px;


  &--logo{
    background-image:  url("../images/logo-awesome-profile-cards.png");
    width: 250px;
    height: 64px;
  }
}
.main__intro{
  .main__title{
    text-align: center;
    font-size: 19px;
    color:$colorMainTitle;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin:35.4px auto 4px auto;
  }
  .main__paragraph{
    font-family:  'OpenSans-Regular',serif;
    font-size: 15px;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    color:$colorMainParagraph;
    width: 265px;
  }
  .main__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid $colorMainList;
    width: 268px;
    height: 74px;
    margin: 10px auto;
    border-radius: 4px;


    &-item{
      text-decoration: none;
      list-style: none;
      padding: 10px;
      text-align: center;

    }
    .main__list--text{
      color:$colorTextTitleJob;
      font-size: 16px;
      padding-top: 10px;
    }
    .icon{
      color:$colorMainList;
      font-size: 28px;
    }

  }

  .main__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    &--start {
      font-size: 16px;
      font-family: 'OpenSans', serif;
      width: 129px;
      height: 42px;
      background-color: $colorBackgroundTags;
      background-color: $colorDirtyBlue;
      border: none;
      border-radius: 21px;
      color: $backgroundHeader;
      text-transform: uppercase;
    }
  }
}
@media all and (min-width:768px){
  .main__header {
    width: 419px;
    padding-top: 348px ;

    &--logo{
      background-image:  url("../images/logo-awesome-profile-cards-tablet.png");
      width: 419px;
      height: 107px;
    }
  }

  .main__intro{
    .main__title{
      font-size: 24px;
      margin:31px auto 4px auto;

    }
    .main__paragraph{
      font-size: 16px;
      margin: 4px auto;
      width: 278px;
    }
    .main__list{

      border: 1px solid $colorMainList;
      width: 325px;
      height: 86px;
      margin: 21px auto;

      &-item{
        text-decoration: none;
        list-style: none;
        padding: 10px;
        text-align: center;

      }
    }
    .main__button {
      padding: 186px 0 59px;
      // cambiado de margin a padding:
    }
  }

}
