
.collapsible__content {
  display: none;
}

.collapsible--visible {
  .collapsible__content {
    display: block;
  }
}
.rote{
  transform: rotate(-180deg);
  margin-right: 0;
  margin-left: auto;
}
