.fa-angle-up {
 color: $colorGreySmoke;
}

.dropdown__desing {
 padding: 30px 20px 31px 20px;
 display: flex;
 align-items: center;
 justify-content: space-between;

 /*&--angleUp {
   text-align: right;
   padding-right: 200px;
 }*/
}

.dropdown__desing--name {
 display: flex;
 justify-content: space-between;
 align-items: center;

 .dropdown__desing--nameText {
   padding-left: 10px;
   color: $colorGreySmoke;
   font-size: 18px;
   font-family: ‘Open Sans’;
   font-weight: 600;
   text-transform: uppercase;
 }

 .dropdown__desing--nameIcon {
   color: $colorDullOrange;
 }
}

.dropdown__colors {
 display: flex;
 justify-content: space-between;

 .dropdown__colors--selectors {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   .colors-container {
     display: flex;
   }

   .colors {
     width: 30px;
     height: 25px;
   }

   .colors__darkCyan {
     background-color: $colorSelectorGreenOne;
   }

   .colors__dirtyblue {
     background-color: $colorSelectorGreenTwo;
   }

   .colors__hospitalGreen {
     background-color: $colorSelectorGreenThree;
   }

   .colors__darkRed {
     background-color: $colorSelectorRedOne;
   }

   .colors__strongRed {
     background-color: $colorSelectorRedTwo;
   }

   .colors__brightRed {
     background-color: $colorSelectorRedThree;
   }

   .colors__darkBlue {
     background-color: $colorSelectorGreyOne;
   }

   .colors__lightBlue {
     background-color: $colorSelectorGreyTwo;
   }

   .colors__brightBlue {
     background-color: $colorSelectorGreyThree;
   }
 }

 .dropdown__colorsgroups {
   display: flex;
   flex-direction: row-reverse;
   padding-right: 20px;
   padding-bottom: 20px;
   align-items: center;

   &:last-child {
     padding-bottom: 32px;
   }
 }
}

.radio {
 margin-right: 10px;
}

.dropdown__title {
 padding-left: 39px;
 color: $colorDropdownH3;
 text-transform: uppercase;
 font-family: ‘Open Sans’;

 h3 {
   font-size: 14px;
   font-weight: 400;
 }
}

.dropdown__fonts {
 display: flex;
 justify-content: space-between;
}

.dropdown__fonts--selectors {
 display: flex;
 flex-direction: column;
 width: 132px;

 .dropdown__fontsgroups {
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
   align-items: center;
   padding-bottom: 9px;

   &:last-child {
     padding-bottom: 30px;
   }
 }

 .fonts {
   display: flex;
   align-items: flex-start;
   color: $colorDropdownH3;
 }
}

.ubuntu {
 font-family: ‘Ubuntu’, sans-serif;
 font-size: 16px;
 font-weight: 400;
 color: $colorSelectorFonts;
}

.comic {
 font-family: ‘Comic Sans MS’, ‘Comic Sans’, ‘TSCu_Comic’;
 font-size: 16px;
 color: $colorSelectorFonts;
}

.montserrat {
 font-family: ‘Merriweather’, serif;
 font-size: 16px;
 font-weight: 400;
 color: $colorSelectorFonts;
}
