.dropdown__desing {
  background-color: yellow;
  display: flex;
  align-items: center;
}

.dropdown__desing--text {
  color: $colorGreySmoke;
  font-size: 18px;
  font-family: 'OpenSans-Regular', serif;
  font-weight: 500;
}
