.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  &__copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $copyFooterTextColor;
    margin-top: 20px;
  }

  &__logo {
    margin-top: 10px;
    margin-bottom: 20px;

    &--image {
      width: 103px;
      height: 40px;
    }
  }
}
