.header__logo {
  width: 100%;
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background_header;

  &--image {
    width: 201px;
    height: 52px;
  }

  @media all and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
  }
}
