.shares__input--buttonandminiimg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 30px;

  .shares__input--addimgbutton {
    background-color: $colorShareAddImgButtonBackg;
    color: $colorShareAddImgButtonText;
    font-family: $fontOpenSans;
    font-size: 18px;
    width: 199px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    text-transform: uppercase;
  }
}

.bookmark2 {
  border: 0.5px solid $colorHrBookmarks;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.shares {
  text-align: center;

  &__text {
    font-family: $fontOpenSans;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 20px;
  }

  &__url {
    font-size: 12px;
    color: $colorDullOrange;
    font-family: $fontOpenSansRegular;
}

  &__twitter {
    background-color: $azure;
    width: 181px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
  }

  &__twitter-logo {
    color: $colorShareTwitter;
    font-size: 18px;
  }

  &__twitter-text {
    color: $colorShareTwitter;
    font-size: 14px;
    font-family: $fontOpenSansRegular;
  }
}
